* {
  margin: 0;
  padding: 0;
}
:root{
    --color-background: #282a36;
    --color-back-soft: #6272a4;
    --accent-color: #50fa7b;
    font-size: 100%;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
#box { 
  background: #44475a;
  margin: 60px;
  padding: 32px;
  width: 700px; 
  text-align: center;
  border-radius: 12px;
  justify-content: center;

}
#box:hover{
  border: 2px var(--accent-color) solid;
  transition: 500ms;
}
h1 {
  font-size: 2.6rem;
  color: white;
}
h2{
  font-size: 2rem;
  color: #8be9fd;
}
p {
  font-size: 1.6rem;
  color: #fff;
  padding: 12px;
}
#me {
  border-radius: 50%;
  border: 4px var(--accent-color) solid;
  width: 250px;
  margin: 32px;
}
#special{
  display: inline-block;
  color: var(--accent-color);
  font-size: 2.6rem;
}
.logos{
  width: 32px;
  padding: 12px;
  background-color: white;
  border: 1px var(--accent-color) solid;
  border-radius: 30%;
  margin: 12px;
}
.logos:hover{
  background: var(--accent-color);
  width: 40px;
  transition: 100ms;
}

@media screen and (max-width: 600px){
  :root{
    font-size: 85%;
  }
  #box {
    width: 80%;
  }
  h1, #special {
    font-size: 2rem;
  }
  h2{
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  #me{
    width: 200px;
  }
  
}