*{
    text-decoration: none;
}
h1 {
    font-size: 60px;
}
h2 {

    font-size: 40px;
}
h3 {
    font-size: 25px;
}
h1, h2 , h3{
    padding: 5px;
    text-align: center;
}
body {
    background-color:#ececec;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;

}

.menu {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.menu li{
    margin-left: 10px;
    list-style: none;
    font-size: 30px;
}
.menu li a {
    display: block;
    padding: 10px;
    color: white;
}

.moreinfo {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   
}
.moreinfo li{
    margin-left: 10px;
    list-style: none;
    font-size: 20px;
    border: #000000 solid ;
    border-radius: 10px;
}
.moreinfo li a {
    display: block;
    padding: 10px;
    color: rgb(0, 0, 0);
}


article{
    padding-top: 10px;
    margin: auto;
    width: 60%;
    background-color: #ececec;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px 1pt 2px;
    padding-bottom: 20px;


}


.home {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-style: italic;
}
.home img {
    padding-top: 50px;
    padding-bottom: 50px;
}
.home p {
    padding: 5px;
}
#logo{
    width: 150px;
    margin: 0;
    padding-left: 10px;
}
img{
    width: 200px;
}
.cont{
    padding-top: 20px;
    display: flex;
    justify-items: space-between;
    padding-bottom: 20px;
}

blockquote{
    border: #8a8a8a solid 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d4cece;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    font-style: italic;
}
blockquote p {
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    padding-top: 10px;
    background-color: #000000;
    border-radius: 4px 1pt 2px;
    color: white;
    text-align: center;
    padding-bottom: 10px;

}
footer h1{
    font-size: 25px;
}
.logos {
    width: 32px;
    padding:10px;
}
.logobig{
    width: 120px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    
}
.flex > div {
    flex: 1 1 300px;
    padding-top: 20px;
    padding-bottom: 20px; 

}
.flex img {
    width: 250px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
}
.flex p {
    font-size: 25px;
    text-align: center;
}
@media only screen and (max-width: 600px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
        
    }
    h1, h2 , h3{
        padding: 5px;
        text-align: center;
    }
    
    article{
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        background-color: #ececec;
        border-radius: 4px 1pt 2px;
        padding-bottom: 50px;
    }  
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    p {
        text-align: justify;
        padding: 5px;
    }
    img{
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    article img{
    }
    footer {
        padding: 10px;
        text-align: center;

    }
    .cont {
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cont p{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .menu {
        display: block;
     
    
    }
    .menu li{
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
        font-size: 30px;
        border: #ececec solid ;
        border-radius: 10px;
    }
    .menu li a {
        text-align: center;
        display: block;
        padding: 10px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    #logo {
        width:  100%;
    }
    .flex {
        max-width: 100%;
    }
    .flex > div {
        width: 100%;
        flex: 1 1 100%;
        padding-bottom: 20px; 
    }
    .flex img {
        width: 100%;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        justify-self: center;
    }
    .flex p {
        font-size: 25px;
    }
}